---
import Layout from "../layouts/template.astro";
import AboutUs from "../components/about-us.astro";
import Carousel from '../components/carousel.astro'


---

<Layout title='Home'>
  <section class="section">
    <h1 class="title">Upcoming Events</h1>
    <Carousel />
  </section>
  <AboutUs />
</Layout>
