<section class="section container is-widescreen">
  <div class="columns">
    <div class="column">
      <h1 class="title is-flex">
        <figure class="image is-32x32 is-flex is-align-items-center">
          <img src="/favicon.svg" />
        </figure>
        About Us
      </h1>
      <p>
        Somos una Empresa Mayorista de Turismo especializada en viajes a eventos musicales, deportivos y espectáculos de todo tipo. Nos encargamos de que tengas una experiencia única, sin tener que preocuparte.
      </p>
      <br />
      <p>
        Te ofrecemos el mejor servicio de hoteles calificados, conociendo ciudades, con las mejores ubicaciones en los shows y eventos deportivos para verlo de cerca y no perderte ningún detalle.
      </p>
      <br />
      <p>
        Hablá con nosotros y te contactamos con tu Agencia de Viajes más cercana, para que puedas recibir el asesoramiento para tu próximo viaje.
      </p>
    </div>
    <div class="column">
      <h1 class="subtitle">
        <strong>
          SÉ PROTAGONISTA, NOSOTROS TE LLEVAMOS
        </strong>
      </h1>
      <figure class="image is-square">
        <img src="/about-us.jpg" />
      </figure>
    </div>
  </div>
</section>
